:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #fafafc !important;
}

a:hover {
  transition: 0.3s ease;
  color: darkorange !important;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

.home_cont {
  background: url("./assets/background.png");
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.line {
  border-bottom: 3px solid #ffa500;
  height: 5px;
  background: black;
  width: 85vw;
  translate: -120px -65px;
  opacity: 1;
}

.page_title {
  padding: 10px 25% 0 0;
  text-align: end;
  width: 82vw;
}

.title {
  text-shadow: 2px 2px #8b952e;
  background: #ffc10752;
  padding-right: 5px;
  box-shadow: -123px 0px 0px #ffc10752;
}

.title_sub {
  color: orange;
  text-shadow: 1px 1px white;
  font-size: 1.5rem;
  position: relative;
  top: -17px;
  z-index: 1;
  position: relative;
}

.red {
  border: 1px solid red;
}

#About_Me,
#Skills,
#Projects,
#Contacts {
  height: 10vh;
  background: none;
  position: absolute;
  translate: 0 -9.9vh;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: 25px;
}

.text_shadow {
  text-shadow: 2px 2px #8b952e;
}

.line_bar {
  height: 5px;
  width: 100%;
  background: #807f7e;
  position: relative;
}

.bd {
  position: relative;
  height: 535px;
  top: -50px;
}

.car_img {
  height: 40vh;
  right: -26%;
  position: relative;
}

.carousel-item {
  top: 0;
  height: 60vh;
}

.carousel-caption {
  position: relative;
  translate: -15% 35%;
}

.image {
  height: 20px;
  margin: 5px;
  translate: -30px 110px;
}

.footer {
  background-image: url('./assets/plain.png');
  background-repeat: no-repeat;
  background-size: cover;
}